<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <!-- Own styling -->
  <% for (key in htmlWebpackPlugin.files.css) { %>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[key] %>">
  <% } %>
</head>

<body>
  <div id="root" />

  <% for (key in htmlWebpackPlugin.files.js) { %>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
  <% } %>
</body>

</html>