@import '../../../styles/fonts.scss';

.numeric-input {
    &-background {
        fill: gray;
    }

    &-border {
        stroke-width: 2ps;
        stroke: #000;
        fill: none;
    }

    &-text {
        font-family: 'Jura', sans-serif;
        font-size: 28px;
        line-height: 32px;
        fill: white;
        pointer-events: none;
    }

    &-button {
        fill: red;
        transition: all 300ms;

        &:hover{
            fill: blue;
        }

        &.upper:active {
            transform: translate(3px, 3px);
        }

        &.lower:active {
            transform: translate(-3px, -3px);
        }

        &:active {
            transition: 0s;
        }
    }
}
