@import url('https://fonts.googleapis.com/css?family=Montserrat:800');

$skillBorderColor: rgb(117, 110, 123);
$skillTextColor: rgb(195, 194, 206);

.skill-icon {
    &-border {
        stroke: $skillBorderColor;
        stroke-width: 8px;
    }

    &-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        fill: $skillTextColor;

        &.shadow {
            fill: black;
            filter: url("#shadow");
        }
    }
}