@import '../../../styles/fonts.scss';
@import '../../../styles/colors.scss';

$borderColor: rgb(206, 208, 198);
$fillColor: rgb(127 ,127, 114);

.empty-ship-icon {
    &:hover {
        .border {
            fill: darken($fillColor, 10%);
        }
    }

    &:active {
        .border {
            fill: darken($fillColor, 30%);
        }
    }

    .border {
        stroke: $borderColor;
        stroke-width: 8px;
        // @TODO: Replace with transparent version.
        fill: $fillColor;
    }

    .corner {
        stroke: $borderColor;
        stroke-width: 1px;
        fill: none;
    }

    .plus {
        stroke: $borderColor;
        stroke-width: 3px;
        fill: none;
    }

}