@import '../../../styles/fonts.scss';
@import '../../../styles/colors.scss';

$shadeColor: rgb(97, 118, 156);

@mixin ship-icon-border($color) {
    stroke: $color;
    fill: darken($color, 20%);
}

.ship-icon {
    .ship-icon-border {
        stroke-width: 4px;

        &.elite { @include ship-icon-border($eliteColor) }
        &.ssr { @include ship-icon-border($ssrColor) }
        &.rare { @include ship-icon-border($rareColor) }
        &.common { @include ship-icon-border($commonColor) }
    }

    .grad-stop-1 {
        stop-color: $shadeColor;
        stop-opacity: 0.6;
    }

    .grad-stop-2 {
        stop-color: $shadeColor;
        stop-opacity: 0.6;
    }

    .grad-stop-3 {
        stop-color: $shadeColor;
        stop-opacity: 0.0;
    }

    .ship-icon-level {
        fill: white;
        font-size: 28px;
        font-family: "Jura", sans-serif;
    }
}