@import './fonts.scss'; 
@import './colors.scss';

body {
  //font-family: 'Saira Extra Condensed', sans-serif;
  //font-family: 'Jura', sans-serif;
  //font-family: 'Noto Sans SC', sans-serif;
  background-color: white;
}

.app {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
