@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.ship-card {
    overflow: hidden;
}
  
.ship-card-name-shading {
    fill: rgba(0,0,0,0.3);
}
  
.ship-card-background {
    fill: rgba(104,196,252, 0.1);
}
  
.ship-card-name {
    font-size: 28px;
    fill: white;
    font-family: 'Noto Sans SC', sans-serif; 
}
  
.ship-card-level {
    font-size: 45px;
    fill: white;
    // @TODO: Replace with Agency FB if we can find it
    font-family: "Jura";
}
  
@mixin ship-card-border($color) {
    stroke: $color;

    &.triangle {
        fill: $color;
    }
}
  
.ship-card-border {
    &.elite { @include ship-card-border($eliteColor) }
    &.ssr { @include ship-card-border($ssrColor) }
    &.rare { @include ship-card-border($rareColor) }
    &.common { @include ship-card-border($commonColor) }
}
