@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";

.fleet-page {
    font-family: 'Michroma', sans-serif;
    
    .ship-overview {
        display: flex;
        flex-direction: column;
        align-items: center;

        .ship-row-title {
            font-size: 24px;
            margin: 10px 0;
        }

        .ship-row {
            display: flex;
            flex-direction: row;

            > * {
                margin: 5px 20px;
            }
        }
    }

}

.ship-select {
    width: 800px;
    background-color: white;
    margin: 50px auto;
    font-family: 'Michroma', sans-serif;
    height: 80vh;

    .ship-list {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 80vh;

        > * {
            margin: 5px;
        }

        .ship-row {
            display: flex;
            flex-direction: row;
            border: 1px solid rgba(0,0,0,0.1);
        }

        .ship-info {
            margin: 5px 20px 15px;
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .ship-name {
            font-size: 28px;
        }

        .ship-class {
            font-size: 14px;
            flex: 1;
            color: rgba(0,0,0,0.4);
        }

        .ship-hull {
            font-size: 16px;
        }

        .ship-slots {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 200px;
        }

        .ship-slot {
            margin: 5px 0;
            font-size: 16px;
        }
    }
}
