@import '../../../styles/fonts';

.ship-config {
    font-family: 'Michroma', sans-serif;
    display: flex;
    flex-direction: row;

    &-info-container {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    &-info-row {
        display: flex;
        flex-direction: row;
        margin: 0 5px;
    }

    &-info-name {
        align-self: flex-start;
        text-align: start;
        flex: 1;
    }

    &-info-value {
        align-self: flex-end;
        text-align: end;
    }

    &-equipment {
        display: flex;
        flex-direction: column;
    }
}